/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/src/language.c
/src/language.h
/src/lexer.c
/ylwrap
Makefile
Makefile.in
*.o
*.1
*.msc
.deps
/src/mscgen